[Desktop Entry]
Name=Thunderbird
Comment=Read/Write Mail/News with Thunderbird
GenericName=Mail Client
Exec=/usr/bin/thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Version=1.0
Icon=thunderbird
Categories=Network;Email;News;GTK;
MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/x-vcard;
StartupWMClass=Thunderbird
StartupNotify=true
Keywords=EMail;E-mail;Contact;Addressbook;News;
X-XFCE-Source=file:///usr/share/applications/thunderbird.desktop
