[Desktop Entry]
Version=1.0
Type=Application
Name=Launcher
Comment=Application Launcher
Exec=panther_launcher
Icon=/usr/share/icons/default/nucleus.svg
Path=
Terminal=false
StartupNotify=false
