[Desktop Entry]
Version=1.0
Type=Application
Name=Launcher
Comment=Application Launcher
Exec=panther_launcher
Icon=anoise
Path=
Terminal=false
StartupNotify=false
