[Desktop Entry]
Type=Application
Version=1.0
Name=Install neutrixOS
GenericName=Calamares Installer
Exec=install-neutrix
Comment=Calamares — Installer for neutrixOS
Keywords=calamares;system;install;neutrix;installer
Icon=/usr/share/icons/default/lava-lamp.svg
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
